
.rbyc-icon-calendar:before { content: '\e800'; } /* '' */
.rbyc-icon-events:before { content: '\e801'; } /* '' */
.rbyc-icon-weather:before { content: '\e802'; } /* '' */
.rbyc-icon-book:before { content: '\e803'; } /* '' */
.rbyc-icon-committee:before { content: '\e804'; } /* '' */
.rbyc-icon-cruising:before { content: '\e805'; } /* '' */
.rbyc-icon-sign:before { content: '\e806'; } /* '' */
.rbyc-icon-gym:before { content: '\e807'; } /* '' */
.rbyc-icon-marina:before { content: '\e808'; } /* '' */
.rbyc-icon-training:before { content: '\e809'; } /* '' */
.rbyc-icon-boat:before { content: '\e80a'; } /* '' */
.rbyc-icon-coronavirus:before { content: '\e826'; } /* '' */
.rbyc-icon-grass:before { content: '\e80b'; } /* '' */
.rbyc-icon-volunteers:before { content: '\e80c'; } /* '' */
.rbyc-icon-hardstand:before { content: '\e80d'; } /* '' */
.rbyc-icon-etchells:before { content: '\e80e'; } /* '' */
.rbyc-icon-dragons:before { content: '\e80f'; } /* '' */
.rbyc-icon-buoy:before { content: '\e810'; } /* '' */
.rbyc-icon-tower:before { content: '\e811'; } /* '' */
.rbyc-icon-beach:before { content: '\e812'; } /* '' */
.rbyc-icon-policies:before { content: '\e82b'; } /* '' */
.rbyc-icon-restaurant:before { content: '\e832'; } /* '' */
.rbyc-icon-swimming:before { content: '\e838'; } /* '' */
.rbyc-icon-docs:before { content: '\f0c5'; } /* '' */
.rbyc-icon-club:before { content: '\f0f7'; } /* '' */
.rbyc-icon-racing:before { content: '\f11e'; } /* '' */
.rbyc-icon-news:before { content: '\f1ea'; } /* '' */
.rbyc-icon-membership:before { content: '\f2bc'; } /* '' */